.App {
  text-align: center;
  background-color: lightgrey;
}

.create-project-form {
  display: flex;
  flex-direction: column;
}

.main-page {
  margin: 5%;
  display: flex;
  text-align: justify;  
  flex-direction: column;
}